* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
 }

html,
body {
  height: 100%;
}

body {
  font-family: 'Consolas', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #262626;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  display: block;
  text-align: center;
}

header h1 {
  font-weight: bolder;
  font-size: 7rem;
  color: #4e85df;
}

header h3 {
  font-weight: bolder;
  font-size: 1.5rem;
  margin-top: -1.7rem;
  color: white;
}

header hr {
  margin-top: 0.7rem;
  color: white;
}

.logo {
  max-width: 25rem;
  min-width: 18rem;
  image-rendering: -moz-crisp-edges;
}

.error {
  background: #A63446;
  padding: 0.5rem 1rem;
  color: #ffffff;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
.createButton {
  margin: 1rem 0;
  max-width: 100%;
}

.input {
  font-family: inherit;
  padding-bottom: 1rem;
  background: none;
  border: none;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  font-size: 1.25rem;
  transition: border-bottom-color 0.3s ease-in-out;
  caret-color: #4e85df;
}

.input:focus {
  outline: none;
  border-bottom-color: #4e85df;
}

.input::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.createButton {
  cursor: pointer;
  font-family: inherit;
  font-weight: bolder;
  font-size: 1.15rem;
  color: #262626;
  border: none;
  background-color: #4e85df;
  padding: 0.75em 1.25rem;
  box-shadow: 0 0 0 0 #ffffff;
}

.createButton:hover {
  box-shadow: 3px 3px 0 0 #ffffff;
  transition: box-shadow 0.2s ease-in-out;
  transition: color 0.02s ease-in-out;
  color: white;
}

.created {
  color: #ffffff;
}

.created a {
  color: inherit;
}